body{
    background: #0085e2;
}

#inner-heading{
    color: #0085e2;
}

#outer-heading{
    color: aliceblue;
    padding-top: 50px;
}

.outer-div{
    width: fit-content;
    background: aliceblue;
    padding: 22px;
    margin-top: 34px;
    border-radius: 7px;
    display: inline-grid;
}